.bill{
    background-color: rgb(246, 246, 250);
}
.text-header{
    font-size: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(191, 197, 252);
    padding: 20px 20px 5px 20px;
}
.text-body-right{
    margin-top: 5mm;
    display: flex;
    justify-content: center;
}
.text-body-left{
    margin-top: 5mm;
    font-weight: bold;
}
.text-body-item{
    margin: 10px 0px 0px 3cm;
}
.fa-shopping-cart{
    margin-top: 25px;
    color: #0d6efd;
    font-size: 1.5cm;
}
.fa-circle{
    font-size: 10px;
    color: #0d6efd;
    margin-right: 5px;
}
.text-bill{
    margin: 0.8cm 3cm;
}
.table-title{
    background-color: #d2e6ee;
}
/* chọn ngày mua */
#chonNgay{
    border: 1px solid #0d6efd;
}
#chonNgay:focus{
    outline-color: #0d6efd;
}


/* nhân viên duyệt đơn, xuất kho */
#tieuDe{
    background-color: rgb(246, 246, 250);
    padding-top: 100px;
}

.fa-hotel{
    font-size: 40px;
    color: #0d6efd;
}
#hoaDon{
    margin-top: 120px;
    margin-bottom: 20px;
    padding: 0.5cm 1cm;
    border: 1px rgb(0, 60, 255) solid;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    display: none;
}
#quayLai{
    display: none;
}
#duyetDon, #in{
    visibility: hidden;
}
#chonNV{
    border: 1px solid #0d6efd;
}
#chonNV:focus{
    outline-color: #0d6efd;
}